html {
    box-sizing: border-box;
}
*,*:before, *after {
    box-sizing: inherit;
}

header {
    font-family: 'Open Sans Condensed', sans-serif;
    margin: 12 16px;

}

#title {
    font-family: 'Satisfy', cursive;
}

#nav-left {
    margin-right: auto;
    font-weight: normal;
 }

#nav{
    display: flex;
}

#nav-right {
    margin-left: .25rem;
    margin-right: .25rem;
    font-weight: normal;
}

body {
    font-family: 'Open Sans Condensed', sans-serif;

}

.home {
    text-align: center;
    margin: 12px 0px;
    padding: 0 36px;

}

a {
    color: black;
}

#hello, #interest, #about {
    font-family: 'sacramento', cursive;
    font-size: 2.5em;
    margin-top: 0px;
    margin-bottom: 0px;
}

.bookus {
    text-align: center;
    margin: 48px 0px;
}

div.homegallery:hover {
    border: 1px solid #777;
}

div.homegallery img {
    width: 100%;
    height: auto;
    display: block;
    pointer-events: none;
    
}

div.desc {
    padding: 12px;
    font-family: 'Sacramento', cursive;
    font-size: 2em;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
}

.main {
    display:flex;
}

.container {
    text-align: center;
}

.aboutimg {
    position: relative;
}

#about {
    font-family: 'sacramento', cursive;
    font-size: 2.5em;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}


.text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}
.aboutphoto {
    max-width: 40%;
}

.jeff, .jas {
    display: flex;
    align-items: center;
    text-align: justify;
    margin: 12px 12px;
    padding: 12 24px;
}

.jeff p {
    padding: 0 24px;
}

.jas p {
    padding: 0 24px;
}

.image {
    max-width: 100%;
}

.galleryimage {
    max-width: 75%;
    margin: 8px 36px;
}

.conimage, .aboutimage {
    max-width: 100%;
}

.acctinfo {
    background-color: grey;
    text-align: justify;
    margin: 12px 12px;
    padding: 0px 36px;
}

.acctinfo p {
    margin: 0px 0px;
    padding: 0px 0px;
}
.form {
    text-align: justify;
}

.contact {
    text-align: center;

}


footer {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: .75em;
    text-align: center;
}



@media only screen and (max-width: 700px) {
    .responsive {
        width: 100%; 
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: ""; 
    display: table;
    clear: both;
}

@media (min-width: 768px) {
    .container {
        display: flex;
        justify-content: space-evenly;
    }

    #title {
        font-size: 48px;
    }

    .home, .photographer, .acctinfo {
        font-size: 1.5em;
    }

   
}

@media (min-width: 1100px) {
    #title {
        font-size: 72px;
    }

    #nav {
        font-size: 2em;
    }

    div.desc {
        font-size: 4em;
    }

    #text { 
        font-size: 3em;
    }

    .home, .photographer, .acctinfo {
        font-size: 2.5em;
    }

    .form {
        font-size: 2em;
    }
    
    .conimage {
        image-orientation: center;
    }

    footer {
        font-size: 1em;
    }
}