html {
    box-sizing: border-box;
}
*,*:before, *after {
    box-sizing: inherit;
}

header {
    font-family: 'Open Sans Condensed', sans-serif;
    margin: 12 16px;

}

#title {
    font-family: 'Satisfy', cursive;
}

#nav-left {
    margin-right: auto;
    font-weight: normal;
 }

#nav{
    display: flex;
}

#nav-right {
    margin-left: .25rem;
    margin-right: .25rem;
    font-weight: normal;
}

body {
    font-family: 'Open Sans Condensed', sans-serif;

}

.home {
    text-align: center;
    margin: 12px 0px;
    padding: 0 36px;

}

a {
    color: black;
}

#hello, #interest {
    font-family: 'sacramento', cursive;
    font-size: 2.5em;
    margin-top: 0px;
    margin-bottom: 0px;
}

.bookus {
    text-align: center;
    margin: 48px 0px;
}

div.homegallery:hover {
    border: 1px solid #777;
}

div.homegallery img {
    width: 100%;
    height: auto;
    display: flex;
}

div.desc {
    padding: 12px;
    font-family: 'Sacramento', cursive;
    font-size: 2em;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
}

.main {
    display:flex;
}

.galleries {
    background-color: whitesmoke;
    margin: 12px;
    padding: 16px 24px;
}

#photobox {
    display:flex;
}

.image {
    max-width: 100%;
}

.conimage {
    max-width: 100%;
}

.form {
    text-align: justify;
}

.contact {
    text-align: center;

}


footer {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: .75em;
    text-align: center;
}



@media only screen and (max-width: 700px) {
    .responsive {
        width: 100%; 
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: ""; 
    display: table;
    clear: both;
}