{% extends 'base.html' %}




{% block content %}

<div class="aboutimg">
    <img class="image" src="../static/images/family-2.jpg"/>
    <div class="text-block">
        <p><i>"Unconditional love is loving your kids for who they are, not for what they do... it isn't something every minute of everyday. But it is the thought we must hold in our hearts every day.."</i></p>
    </div>
</div>

<p id="about"> Meet The Photographers. </p>

<div class="photographer">
    <div class="jas">
        <p> Hi, I'm Jasmine! I'm a family and lifestyle photographer based in Portland, Oregon. I've been photographing anything and everything since I can remember. It has been only recently that I've decided to pursue my passion of capturing one-of-kind moments offically. It's my goal to create warm and fuzzy moments for you and your family.
        <br>
        Aside from photography, I am also a web designer, toddler mama, and Navy Veteran. I enjoy spending my time wanderlusting around the Pacific Northwest with my high-energy girl and planning traveling adventures. </p>
        <img class="aboutphoto" src="../static/images/jasmine.jpg"/>
    </div>

    <div class="jeff">
        <img class="aboutphoto" src="../static/images/jeff.jpg">
        <p> Hey I am Jeff. I am a Portland photographer .... I enjoy learning new techniques to make your experience better. When I am not behind the camera making your memories come alive, you find me spending time with my kids. </p>
    </div>
</div>

{% endblock content %}

