{% extends 'base.html' %}
{% load static %}

{% block content %}

<html>
<div>
   

    <div id="app">
        
        {% comment %} <render-images v-bind:id='clickedGallery.id'> 

        </render-images>  {% endcomment %}
        <div class="main" v-for="gallery in galleries">
            <span v-on:click='openGallery' 'clickedGallery'>[[ gallery.description ]]</span>
                {% comment %} <div id="photobox" v-for="photo in gallery.photo_set"> 
                    <p><img class="image" :src="photo.watermarked_photo"> </p>
                </div> {% endcomment %}
            <br>

        </div>


    </div>

</div>
</html>

    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>








<script>

   /* Vue.component('render-images', {
            data: function (){
                
            },
            prop: ['clickedGallery.id'], 
            template: ` 
                <div v-for="photos in galleries[${clickedGallery.id}]"> 
                <p><img class="image" :src="photo.watermarked_photo"> </p>
                </div>
            `
        })*/


    let vm = new Vue({
        el: '#app', 
        delimiters: ['[[' , ']]'], 
        data: {
            galleries: [],
            clickedGallery: null,  
            csrf_token: "",
        }, 

        methods: {
            loadGallery: function () {
                console.log('test')
                axios ({
                    method: 'get', 
                    url: '/apis/v1/gallery/',
                }).then(response =>{
                    this.galleries = response.data;
                    console.log(response.data)
                })
            }, 
            openGallery: function (evt) { 
                console.log(evt.target.value)
                this.clickedGallery = newGallery // opens new gallery after clicking photo
                console.log(this.clickedGallery)
            }
        },

        created: function () {
            this.loadGallery()
        }

    })

    


</script>
{% endblock %}

