{% extends 'base.html' %}
{% load static %}

{% block content %}

<html>
<div>
   

    <div id="app">
        
        <div class="galleries" v-for="gallery in galleries">
            <h3> [[ gallery.name ]] </h3>
            <h4> [[ gallery.description ]]
            <h5> Photographer: [[ gallery.photographer ]]</h5>

                <div v-for="photo in gallery.photo_set"> 
                    <p><img class="image" :src="photo.watermarked_photo"> </p>
                </div>
        </div>


    </div>

</div>
</html>

    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>








<script>
    let vm = new Vue({
        el: '#app', 
        delimiters: ['[[' , ']]'], 
        data: {
            galleries: [], 
            csrf_token: "",
        }, 

        methods: {
            loadGallery: function () {
                console.log('test')
                axios ({
                    method: 'get', 
                    url: '/apis/v1/gallery/',
                }).then(response =>{
                    this.galleries = response.data;
                })
            }
        },

        created: function () {
            this.loadGallery()
        }

    })


</script>
{% endblock %}

