{% extends 'base.html' %}
{% load static %}

{% block content %}

<html>
<div>
   

    <div id="app">

        <div v-if='!active'>
            <div v-for="photo in activegallery.photo_set">
                <img class="image" :src="photo.watermarked_photo"/>
            </div>

        </div>
            
        <div v-if="active">
            <div class="main" v-for="gallery in galleries">
            <img class="image" v-on:click='() => openGallery(gallery.id)' :src='gallery.photo_set[0].watermarked_photo'/> 
                 
                    {% comment %} <p><img class="image" :src="photo.watermarked_photo"> </p>  {% endcomment %}
                </div>  
            </div>
            <br>

        </div>


    </div>

</div>
</html>

    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>








<script>

    /* Vue.component('render-images', {
            data: function (){
                return {
                    galleries: [],
                    galleryId: ''
                }
            },
            template: ` 
                <div>
                <p>  [[ galleryId ]]</p>
                </div>
            `,
            methods: {
                loadImages: function () {
                    console.log(galleryId, 'hi') 
                    this.$emit('results', this.galleryId)
                }
            },

            mounted: function () {
                this.loadImages()
                
            }
        })  */


    let vm = new Vue({
        el: '#app', 
        delimiters: ['[[' , ']]'], 
        data: {
            active: true,
            galleries: [],
            activegallery: {}, 
            clickedGallery: null,  
            csrf_token: "",
        }, 

        methods: {
            loadGallery: function () {
                console.log('test')
                axios ({
                    method: 'get', 
                    url: '/apis/v1/gallery/',
                }).then(response =>{
                    this.galleries = response.data;
                    console.log(response.data, 'galleries')

                })
            }, 
            openGallery: function (id) {
                console.log(id)
                // shorthand for loop and if statement --  looks through each item in array and returns the gallery object, takes passing id and makes sure it matches and return equilvant gallery to the that id 
                this.galleries.forEach(gallery => { 
                    if(gallery.id === id){      
                        this.activegallery= gallery
                    }
                }) 
                this.active = false
                console.log(this.activegallery, 'hey')
                
            }
        },

        created: function () {
            this.loadGallery()
        }

    })

    


</script>
{% endblock %}

