{% extends 'base.html' %}




{% block content %}

<div class="home">
    <h3 id="hello"> Welcome friends</h3> 
    <p> It is our vision for us to give you an amazing experience and quality images that you will treasure for years to come. We believe it is important for you to feel connected  with your photographer, in order for us capture the intimate moments that exist in your family. We want to be with you for every milestone in your life. </p>

</div>

<div class="responsive">
    <div class="homegallery">
        <a target="_blank" href="../static/images/wedding.jpg">
            <img src="../static/images/wedding.jpg" alt="wedding">
        </a>
        <div class="desc"> Weddings </div>
    </div>
    <div class="homegallery">
        <a target="_blank" href="../static/images/maternity.jpg">
            <img src="../static/images/maternity.jpg" alt="maternity">
        </a>
        <div class="desc"> Maternity </div>
    </div>
    <div class="homegallery">
        <a target="_blank" href="../static/images/newborn.jpg">
            <img src="../static/images/newborn.jpg" alt="newborn">
        </a>
        <div class="desc"> Newborn </div>
    </div>
    <div class="homegallery">
        <a target="_blank" href="../static/images/about-2.jpg">
            <img src="../static/images/about-2.jpg" alt="family">
        </a>
        <div class="desc"> Family </div>
    </div>
</div>

<div class="clearfix"></div>
<div style="padding:6px;"></div>

<div class="bookus">
    <h3 id="interest"> Interested in our services? </h3>
    Fill out our <a href="/contact">form</a>.
</div>

{% endblock content %}




<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>



</script>