<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <title>Document</title>
   
    
</head>
<body>
    <header>
        <h1>Jasmine Hope Photography.</h1> 
        <h3>
            <button><a href="https://www.google.com/">HOME</a></button>
            <a href="https://www.google.com/">ABOUT</a>
            <a href="https://wwww.google.com/>">GALLERY</a>
            <a href="https://wwww.google.com/>">SESSION INFO</a>
            <a href="https://wwww.google.com/>">CONTACT</a>
            <a href="https://wwww.google.com/>">BOOK ONLINE</a> 
        </h3>
    </header>
</body>
</html>

<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>



</script>