{% extends 'base.html' %}

{% block content %}


<div id="app">
    <div class="acctinfo">
        <p> [[ user.first_name ]] [[ user.last_name ]] </p>
        <p> Username: [[ user.username ]] </p>
        <p> Email: [[ user.email ]] </p>
        <p> Last Login: [[ user.last_login ]] </p>

        
    
    </div>

    <div class="galleries" v-for="photo in photos"> 
        <img class="image" :src="photo.original_photo"/> 

    </div>          

               



</div>

<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script> 

<script>
    let vm = new Vue({
        el: '#app', 
        delimiters: ['[[' , ']]'], 
        data: {
            user: {},
            csrf_token: "",
            photos: [],
        }, 

        methods: {
            loadUser: function () {
                console.log('test')
                axios ({
                    method: 'get', 
                    url: '/apis/v1/client/1/',
                }).then(response =>{
                    this.user = response.data;
                    console.log(response.data.client_set)
                    for(let i = 0; i < response.data.client_set.length; i++){
                         this.photos = this.photos.concat(response.data.client_set[i].photo_set);
                    } 
                }
                )

            }
        },

        created: function () {
            this.loadUser()
        }

    })


</script>

{% endblock content %}